<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<title>杀戮者官方网站|网络技术DIY|KillBuff.com|运维审计|堡垒主机|堡垒机|内网穿透|反代理|防火墙|漏洞扫描器|逆向工程|社会工程学</title>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />
	
	<!-- ================== BEGIN BASE CSS STYLE ================== -->
	<link href="fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
	<link href="assets/plugins/bootstrap3/css/bootstrap.min.css" rel="stylesheet" />
	<link href="assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
	<link href="assets/plugins/animate/animate.min.css" rel="stylesheet" />
	<link href="assets/css/one-page-parallax/style.min.css" rel="stylesheet" />
	<link href="assets/css/one-page-parallax/style-responsive.min.css" rel="stylesheet" />
	<link href="assets/plugins/ionicons/css/ionicons.min.css" rel="stylesheet" />
	<link href="assets/css/one-page-parallax/theme/blue.css" id="theme" rel="stylesheet" />
	
	<style type="text/css">
		.navbar-brand{
			font-size: 25px;
		}
	</style>
	
	<!-- ================== END BASE CSS STYLE ================== -->
	
	<!-- ================== BEGIN BASE JS ================== -->
	<script src="assets/plugins/pace/pace.min.js"></script>
	<!-- ================== END BASE JS ================== -->
</head>
<body data-spy="scroll" data-target="#header-navbar" data-offset="51">
    <!-- begin #page-container -->
    <div id="page-container" class="fade">
        <!-- begin #header -->
        <div id="header" class="header navbar navbar-transparent navbar-fixed-top">
            <!-- begin container -->
            <div class="container">
                <!-- begin navbar-header -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header-navbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="/" class="navbar-brand">
                        <span class="ion-ios-cloud"></span>
                        <span class="brand-text">
                            <span class="text-theme">杀戮者</span> 网络技术DIY
                        </span>
                    </a>
                </div>
                <!-- end navbar-header -->
                <!-- begin navbar-collapse -->
                <div class="collapse navbar-collapse" id="header-navbar">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="active dropdown">
                            <a href="#home" data-click="scroll-to-target" data-toggle="dropdown">首页</a>
                        </li>
                        <li><a href="#about" data-click="scroll-to-target">关于我们</a></li>
                        <li><a href="#team" data-click="scroll-to-target">团队信息</a></li>
                        <li><a href="#service" data-click="scroll-to-target">客户服务</a></li>
                        <li><a href="#client" data-click="scroll-to-target">我们的宗旨</a></li>
                        <li><a href="#contact" data-click="scroll-to-target">联系我们</a></li>
                    </ul>
                </div>
                <!-- end navbar-collapse -->
            </div>
            <!-- end container -->
        </div>
        <!-- end #header -->
        
        <!-- begin #home -->
        <div id="home" class="content has-bg home">
            <!-- begin content-bg -->
            <div class="content-bg">
                <img src="assets/img/bg/bg-home.jpg" alt="Home" />
            </div>
            <!-- end content-bg -->
            <!-- begin container -->
            <div class="container home-content">
                <h2>欢迎来到杀戮者网络技术DIY官方网站</h2>
                <p>
                       我们团队成立于2018年，由数名多年软件开发工作经验队员组成。致力于信息安全软件方面技术DIY，有着经验丰富的领导。<br />我们目前正在研究的方向有运维审计、网络穿透。
                </p>
                <a href="javascript:void(0);" class="btn btn-theme">运维审计演示</a> <a href="javascript:void(0);" class="btn btn-outline">网络穿透演示</a><br />
                <br />
            </div>
            <!-- end container -->
        </div>
        <!-- end #home -->
        
        <!-- begin #about -->
        <div id="about" class="content" data-scrollview="true">
            <!-- begin container -->
            <div class="container" data-animation="true" data-animation-type="fadeInDown">
                <h2 class="content-title">关于我们</h2>
                <!-- begin row -->
                <div class="row">
                    <!-- begin col-4 -->
                    <div class="col-md-4 col-sm-6">
                        <!-- begin about -->
                        <div class="about">
                            <h3>我们的经历</h3>
                            <p>
                                我们团队成立于2018年，由数名多年软件开发工作经验队员组成。致力于信息安全软件方面技术DIY，我们目前正在研究的方向有运维审计、网络穿透。
                            </p>
                        </div>
                        <!-- end about -->
                    </div>
                    <!-- end col-4 -->
                    <!-- begin col-4 -->
                    <div class="col-md-4 col-sm-6">
                        <h3>我们的宗旨</h3>
                        <!-- begin about-author -->
                        <div class="about-author">
                            <div class="quote bg-silver">
                                <i class="fa fa-quote-left"></i>
                                <h3>善为士者不武，善战者不怒，善胜敌者不与，善用人者为之下。
                                <i class="fa fa-quote-right"></i>
                            </div>
                            <div class="author">
                                <div class="image">
                                    <img src="assets/img/user/IMG_2704.GIF" alt="Sean Ngu" />
                                </div>
                                <div class="info">
                                    	风起云
                                    <small>团队领袖</small>
                                </div>
                            </div>
                        </div>
                        <!-- end about-author -->
                    </div>
                    <!-- end col-4 -->
                    <!-- begin col-4 -->
                    <div class="col-md-4 col-sm-12">
                        <h3>我们的经验</h3>
                        <!-- begin skills -->
                        <div class="skills">
                            <div class="skills-name">运维审计</div>
                            <div class="progress progress-striped">
                                <div class="progress-bar progress-bar-success" style="width: 90%">
                                    <span class="progress-number">90%</span>
                                </div>
                            </div>
                            <div class="skills-name">网络穿透</div>
                            <div class="progress progress-striped">
                                <div class="progress-bar progress-bar-success" style="width: 85%">
                                    <span class="progress-number">85%</span>
                                </div>
                            </div>
                            <div class="skills-name">软件架构</div>
                            <div class="progress progress-striped">
                                <div class="progress-bar progress-bar-success" style="width: 95%">
                                    <span class="progress-number">95%</span>
                                </div>
                            </div>
                            <div class="skills-name">Hadoop开发</div>
                            <div class="progress progress-striped">
                                <div class="progress-bar progress-bar-success" style="width: 80%">
                                    <span class="progress-number">80%</span>
                                </div>
                            </div>
                        </div>
                        <!-- end skills -->
                    </div>
                    <!-- end col-4 -->
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </div>
        <!-- end #about -->
    
        <!-- begin #team -->
        <div id="team" class="content" data-scrollview="true">
            <!-- begin container -->
            <div class="container">
                <h2 class="content-title">团队信息</h2>
                <p class="content-desc">
                    我们的团队由分散在各个信息安全公司的研发所组成，我们以网络技术DIY为兴趣，我们拥有着成熟的运维审计、网络穿透方面的研发技术.
                </p>
                <!-- begin row -->
                <div class="row">
                    <!-- begin col-4 -->
                    <div class="col-md-4 col-sm-4">
                        <!-- begin team -->
                        <div class="team">             
                            <div class="image" data-animation="true" data-animation-type="flipInX">
                                <img src="assets/img/user/IMG_2704.GIF" alt="风起云" />
                            </div>
                            <div class="info">
                                <h3 class="name">风起云</h3>
                                <div class="title text-theme">团队领袖</div>
                                <p>善为士者不武，善战者不怒，善胜敌者不与，善用人者为之下。</p>
                                <!-- 
                                <div class="social">
                                    <a href="#"><i class="fa fa-facebook fa-lg fa-fw"></i></a>
                                    <a href="#"><i class="fa fa-twitter fa-lg fa-fw"></i></a>
                                    <a href="#"><i class="fa fa-google-plus fa-lg fa-fw"></i></a>
                                </div> -->
                            </div>                     
                        </div>
                        <!-- end team -->
                    </div>
                    <!-- end col-4 -->
                    <!-- begin col-4 -->
                    <div class="col-md-4 col-sm-4">
                        <!-- begin team -->
                        <div class="team">             
                            <div class="image" data-animation="true" data-animation-type="flipInX">
                                <img src="assets/img/user/IMG_266474.GIF" alt="Jonny Cash" />
                            </div>
                            <div class="info">
                                <h3 class="name">温柔扛把子</h3>
                                <div class="title text-theme">前端组长兼UI工程师</div>
                                <p>认真是成功的开始。</p>
                            </div>                     
                        </div>
                        <!-- end team -->
                    </div>
                    <!-- end col-4 -->
                    <!-- begin col-4 -->
                    <div class="col-md-4 col-sm-4">
                        <!-- begin team -->
                        <div class="team">             
                            <div class="image" data-animation="true" data-animation-type="flipInX">
                                <img src="assets/img/user/1536017.GIF" alt="Mia Donovan" />
                            </div>
                            <div class="info">
                                <h3 class="name">狂风</h3>
                                <div class="title text-theme">后端组长</div>
                                <p>假作真时真亦假，无为有处有还无。</p>
                            </div>                     
                        </div>
                        <!-- end team -->
                    </div>
                    <!-- end col-4 -->
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </div>
        <!-- end #team -->
        
        <!-- begin #quote -->
        <div id="quote" class="content bg-black-darker has-bg" data-scrollview="true">
            <!-- begin content-bg -->
            <div class="content-bg">
                <img src="assets/img/bg/bg-quote.jpg" alt="Quote" />
            </div>
            <!-- end content-bg -->
            <!-- begin container -->
            <div class="container" data-animation="true" data-animation-type="fadeInLeft">
                <!-- begin row -->
                <div class="row">
                    <!-- begin col-12 -->
                    <div class="col-md-12 quote">
                        <i class="fa fa-quote-left"></i>道可道，非常道，名可名，非常名。
                        <i class="fa fa-quote-right"></i>
                        <small>杀戮者，网络技术DIY团队</small>
                    </div>
                    <!-- end col-12 -->
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </div>
        <!-- end #quote -->
        
        <!-- beign #service -->
        <div id="service" class="content" data-scrollview="true">
            <!-- begin container -->
            <div class="container">
                <h2 class="content-title">我们的服务</h2>
                <!-- begin row -->
                <div class="row">
                    <!-- begin col-4 -->
                    <div class="col-md-4 col-sm-4">
                        <div class="service">
                            <div class="icon bg-theme" data-animation="true" data-animation-type="bounceIn"><i class="fa fa-cog"></i></div>
                            <div class="info">
                                <h4 class="title">定制开发</h4>
                                <p class="desc">可根据您的需求，量身定制一系列符实际应用的软件。如果您有需要请与我们联系。</p>
                            </div>
                        </div>
                    </div>
                    <!-- end col-4 -->
                    <!-- begin col-4 -->
                    <div class="col-md-4 col-sm-4">
                        <div class="service">
                            <div class="icon bg-theme" data-animation="true" data-animation-type="bounceIn"><i class="fa fa-paint-brush"></i></div>
                            <div class="info">
                                <h4 class="title">精致设计</h4>
                                <p class="desc">目前团队所有应用软件由至少5年工作经验工程师设计和开发，可以说没有任何影响功能使用的BUG。避免了使用过程中遇到软件错误导致系统崩溃等一系列问题。</p>
                            </div>
                        </div>
                    </div>
                    <!-- end col-4 -->
                    <!-- begin col-4 -->
                    <div class="col-md-4 col-sm-4">
                        <div class="service">
                            <div class="icon bg-theme" data-animation="true" data-animation-type="bounceIn"><i class="fa fa-file"></i></div>
                            <div class="info">
                                <h4 class="title">完善的文档</h4>
                                <p class="desc">除了完整的软件系统外，我们还会免费为购买产品的客户提供使用文档以及解答使用过程中存在的疑难问题。</p>
                            </div>
                        </div>
                    </div>
                    <!-- end col-4 -->
                </div>
                <!-- end row -->
                <!-- begin row -->
                <div class="row">
                    <!-- begin col-4 -->
                    <div class="col-md-4 col-sm-4">
                        <div class="service">
                            <div class="icon bg-theme" data-animation="true" data-animation-type="bounceIn"><i class="fa fa-code"></i></div>
                            <div class="info">
                                <h4 class="title">提供代码审计</h4>
                                <p class="desc">应用软件的安全使我们考虑的第一要素，只要您有这方面的需要我们免费为您提供我们产品的代码审计以及测试报告。</p>
                            </div>
                        </div>
                    </div>
                    <!-- end col-4 -->
                    <!-- begin col-4 -->
                    <div class="col-md-4 col-sm-4">
                        <div class="service">
                            <div class="icon bg-theme" data-animation="true" data-animation-type="bounceIn"><i class="fa fa-heart"></i></div>
                            <div class="info">
                                <h4 class="title">免费的技术支持</h4>
                                <p class="desc">若您在使用产品的过程中发现任何与我们软件相关的问题，我们都会免费提供技术支持。</p>
                            </div>
                        </div>
                    </div>
                    <!-- end col-4 -->
                    <!-- begin col-4 -->
                    <div class="col-md-4 col-sm-4">
                        
                    </div>
                    <!-- end col-4 -->
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </div>
        <!-- end #about -->
        
        <!-- begin #client -->
        <div id="client" class="content has-bg bg-green" data-scrollview="true">
            <!-- begin content-bg -->
            <div class="content-bg">
                <img src="assets/img/bg/bg-client.jpg" alt="Client" />
            </div>
            <!-- end content-bg -->
            <!-- begin container -->
            <div class="container" data-animation="true" data-animation-type="fadeInUp">
                <h2 class="content-title">我们的宗旨</h2>
                <!-- begin carousel -->
                <div class="carousel testimonials slide" data-ride="carousel" id="testimonials">
                    <!-- begin carousel-inner -->
                    <div class="carousel-inner text-center">
                        <!-- begin item -->
                        <div class="item active">
                            <blockquote>
                                <i class="fa fa-quote-left"></i>
                                	解决问题，建设事物，信仰自由和双向的帮助，人人为我, 我为人人。同任何有创造性的艺术相同，成为大师的最有效方法就是<br/>模仿大师的精神---不是仅从理智上，更要从感情上进行模仿。
                                <i class="fa fa-quote-right"></i>
                            </blockquote>
                            <div class="name"> — <span class="text-theme">风起云</span>, 团队领袖</div>
                        </div>
                        <!-- end item -->
                        <!-- begin item -->
                        <div class="item">
                            <blockquote>
                                <i class="fa fa-quote-left"></i>
                               	从解决问题，磨练技术，锻炼智力中得到基本的热望。我们的这份热情不会被其他诱惑无情地吞噬掉---如金钱、性和社会上的虚名。
                                <i class="fa fa-quote-right"></i>
                            </blockquote>
                            <div class="name"> — <span class="text-theme">温柔扛把子</span>, 前端组长兼UI工程师</div>
                        </div>
                        <!-- end item -->
                        <!-- begin item -->
                        <div class="item">
                            <blockquote>
                                <i class="fa fa-quote-left"></i>
                                	我们从来不会被愚蠢的重复性劳动所困扰,是天生的反权威主义者.不论何时何地，任何权威,只要受他压迫，就要和他斗到底。
                                <i class="fa fa-quote-right"></i>
                            </blockquote>
                            <div class="name"> — <span class="text-theme">狂风</span>, 后端组长</div>
                        </div>
                        <!-- end item -->
                    </div>
                    <!-- end carousel-inner -->
                    <!-- begin carousel-indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#testimonials" data-slide-to="0" class="active"></li>
                        <li data-target="#testimonials" data-slide-to="1" class=""></li>
                        <li data-target="#testimonials" data-slide-to="2" class=""></li>
                    </ol>
                    <!-- end carousel-indicators -->
                </div>
                <!-- end carousel -->
            </div>
            <!-- end containter -->
        </div>
        <!-- end #client -->
        
        <!-- begin #contact -->
        <div id="contact" class="content bg-silver-lighter" data-scrollview="true">
            <!-- begin container -->
            <div class="container">
                <h2 class="content-title">联系我们</h2>
                <!-- begin row -->
                <div class="row">
                    <!-- begin col-12 -->
                    <div class="col-md-12" data-animation="true" data-animation-type="fadeInLeft">
                        <h3>若果您有运维审计、网络穿透、防火墙等信息安全方面需求，请及时与我们联系。</h3>
                        <p>
                            <strong>杀戮者，网络技术DIY</strong><br /><br />
                            QQ：821018907<br />
                            gmail：<a href="mailto:hello@emailaddress.com">killbuff@gmail.com</a><br />
                        </p>
                    </div>
                    <!-- end col-6 -->
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </div>
        <!-- end #contact -->
        
        <!-- begin #footer -->
        <div id="footer" class="footer">
            <div class="container">
                <div class="footer-brand">
                	<span class="ion-ios-cloud"></span>
                    	杀戮者，网络技术DIY
                </div>
                <p>
                    &copy; 2018 杀戮者，网络技术DIY killbuff.com 版权所有 <br />
                </p>
            </div>
        </div>
        <!-- end #footer -->
        
        <!-- begin theme-panel -->
        <div class="theme-panel">
            <a href="javascript:;" data-click="theme-panel-expand" class="theme-collapse-btn"><i class="fa fa-cog"></i></a>
            <div class="theme-panel-content">
                <ul class="theme-list clearfix">
                    <li><a href="javascript:;" class="bg-purple" data-theme="purple" data-theme-file="assets/css/one-page-parallax/theme/purple.css" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Purple">&nbsp;</a></li>
                    <li class="active"><a href="javascript:;" class="bg-blue" data-theme="blue" data-theme-file="assets/css/one-page-parallax/theme/blue.css"  data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Blue">&nbsp;</a></li>
                    <li><a href="javascript:;" class="bg-green" data-theme-file="assets/css/one-page-parallax/theme/default.css"  data-theme="default" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Default">&nbsp;</a></li>
                    <li><a href="javascript:;" class="bg-orange" data-theme="orange" data-theme-file="assets/css/one-page-parallax/theme/orange.css"  data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Orange">&nbsp;</a></li>
                    <li><a href="javascript:;" class="bg-red" data-theme="red" data-theme-file="assets/css/one-page-parallax/theme/red.css"  data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Red">&nbsp;</a></li>
                </ul>
            </div>
        </div>
        <!-- end theme-panel -->
    </div>
    <!-- end #page-container -->
	
	<!-- ================== BEGIN BASE JS ================== -->
	<!--[if !IE]><!-->
		<script src="assets/plugins/jquery/jquery-3.2.1.min.js"></script>
	<!--<![endif]-->
	<!--[if IE 8]><!-->
		<script src="assets/plugins/jquery/jquery-1.12.4.min.js"></script>
	<!--<![endif]-->
	<script src="assets/plugins/bootstrap3/js/bootstrap.min.js"></script>
	<!--[if lt IE 9]><!-->
		<script src="assets/crossbrowserjs/html5shiv.js"></script>
		<script src="assets/crossbrowserjs/respond.min.js"></script>
		<script src="assets/crossbrowserjs/excanvas.min.js"></script>
	<!--<![endif]-->
	<script src="assets/plugins/js-cookie/js.cookie.js"></script>
	<script src="assets/plugins/scrollMonitor/scrollMonitor.js"></script>
	<script src="assets/js/one-page-parallax/apps.min.js"></script>
	<!-- ================== END BASE JS ================== -->
	
	<script>    
	    $(document).ready(function() {
	        App.init();
	    });
	</script>
</body>
</html>